.Header{
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;

}    
.left{
  display: flex;
  align-items: center;
}
.picture{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
  object-fit: cover;

}
.Name{
  font-family: Arial;
  font-weight:bold;
}
.button1{
  background-color: blue;
  color:white;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;

}
.button2{
  background-color: rgb(168, 168, 168);
  border:none;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-top: 8px;


}

.sidebar {
  background-color: rgb(95, 129, 99);
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.image {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.sidebar1 {
  background-color: rgb(84, 97, 68);
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  left: 70px;
  top: 55px;
  bottom: 0;
  width: 150px;
}
.name {
  font-size: 14px;
  color: white;
}

.div1 {
  color: rgb(182, 180, 180);
  font-size: 25px;
}

.div2 {
  color: rgb(182, 180, 180);
  margin-bottom: 16px;
}
.H1 {
  align-items: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

}


