p{
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.p1{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}
.p2{
  font-size: 15px;
  color: gray;
  margin-bottom: 7px;
}
.profile-picture{
  width: 200px;
  height: 200px;
  object-fit: cover;
  vertical-align: middle;
  margin-bottom: 7px;
}
.btn{
  background-color: rgb(48, 156, 238);
  color:white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}
.btn:hover{
  background-color:blue ;
  cursor: pointer;
}
.container{
  width: 200px;
  display: inline-block;
  vertical-align: center;
  margin-right: 10px;
  box-shadow: 5px 5px 10px rgba(0,0, 0, 0.15);
  margin-bottom: 15px;

}
.container1{
  width: 200px;
  display: inline-block;
  vertical-align: center;
  margin-right: 10px;
  box-shadow: 5px 5px 10px rgba(0,0, 0, 0.15);

}
